# Project for Programming for DA
## Vitalijs Smirnovs
## ID: G00317774
### Lecturer: Dr. Brian McGinley

Data to be simulated:
Earnings in Galway county by age, gender and marital status.

Sources of original data:
https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=NSA87&PLanguage=0

https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?MainTable=E2028&TabStrip=Select&PLanguage=0&FF=1#

Four variables to be simulated:
- age
- gender
- marital status
- earnings

The hypothesis is that there are differences in the varibles by gender. So Gender is the first variable to be generated.
To know how many observations to simulate, I checked the CSO.ie data and Galway County (including Galway City) had a population of 258,058 people as counted in the last 2016 Srnsus of population. [https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?MainTable=E2028&TabStrip=Select&PLanguage=0&FF=1#]

The population of 258,058 people includes 127,663 Males and 130,395 Females, in proportions:
Male	0.494706616; 
Female	0.505293384. [https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/saveselections.asp]

In [1]:
# import needed packages
import pandas as pd
import seaborn as sn
import numpy as np

In [2]:
# randomly choose male or female with probabilities 0.49 for male and 0.51 for female
gender = np.random.choice(['Male','Female'],258058, p=[0.49,0.51], replace=True)
# how many values are generated?
print(len(gender))
# record values into the dataframe
df = pd.DataFrame(data=gender, columns=['gender'])
# view the head of dataframe
df.head()

258058

   gender
0  Female
1    Male
2  Female
3    Male
4  Female

Two variable of remaning three will presumably depend on age - marital status and earnings. So age is the next variable to be simulated.

### Age
https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/saveselections.asp

Age Group | N  | Proportion|  
----------|----:|--------:|
All ages	       | 258058	  |
0 - 4 years	       | 17799	|0.068972867
5 - 9 years	       | 18885	|0.073181223
10 - 14 years	   | 17198	|0.066643933
15 - 19 years	   | 16600	|0.064326624
20 - 24 years	   | 16470	|0.063822862
25 - 29 years	   | 15304	|0.059304497
30 - 34 years	   | 18859	|0.07308047
35 - 39 years	   | 21175	|0.082055197
40 - 44 years	   | 19420	|0.0752544
45 - 49 years	   | 17691	|0.068554356
50 - 54 years	   | 15796	|0.061211046
55 - 59 years	   | 14639	|0.056727557
60 - 64 years	   | 13316	|0.051600803
65 - 69 years	   | 11434	|0.044307869
70 - 74 years	   | 8808	|0.034131862
75 - 79 years	   | 6239	|0.024176735
80 - 84 years	   | 4479	|0.017356563
85 years and over  | 3946	|0.015291136

In [3]:
a = (np.random.randint(0, 5, 17799))
# a is an array, we want to use extend funfrion, so needs to be converted to list
# https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.tolist.html
age = list(a)
# extend the list
# https://stackabuse.com/append-vs-extend-in-python-lists/
# similar proportion fall into 10-25 categories, so group together
# also 45-54, 55-61 and 80+
age.extend(np.random.randint(5, 10, 18885))
age.extend(np.random.randint(10, 25, 50268))     
age.extend(np.random.randint(25, 30, 15304))
age.extend(np.random.randint(30, 35, 18859))
age.extend(np.random.randint(35, 40, 21175))
age.extend(np.random.randint(40, 45, 19420) )          
age.extend(np.random.randint(45, 55, 33487))
age.extend(np.random.randint(55, 65, 27955)) 
age.extend(np.random.randint(65, 70, 11434)) 
age.extend(np.random.randint(70, 75, 8808))           
age.extend(np.random.randint(75, 79, 6239))           
age.extend(np.random.randint(80, 100, 8425))     
len(age)  
#print(age)

258058

In [6]:
# shuffle the list
age1=np.random.shuffle(age)
# write into a dataframe column
df['age']= age
df

        gender  age
0       Female   25
1         Male   94
2       Female   38
3         Male   42
4       Female   61
5       Female   17
6       Female   51
7         Male   51
8       Female   26
9         Male   27
10        Male   28
11        Male   33
12        Male   69
13        Male    4
14        Male   25
15      Female   53
16        Male   53
17      Female   68
18      Female   59
19      Female   41
20      Female   80
21      Female   67
22      Female   56
23        Male   53
24      Female   33
25        Male    1
26      Female   41
27      Female   45
28        Male   54
29        Male   53
...        ...  ...
258028  Female    4
258029  Female   31
258030  Female   34
258031    Male   69
258032  Female    8
258033    Male   57
258034  Female   91
258035  Female   57
258036  Female    7
258037  Female   47
258038    Male   33
258039    Male   30
258040  Female   63
258041  Female   21
258042  Female   15
258043  Female   49
258044  Female   75
258045  Female   63
258046    Male   46
258047    Male   35
258048  Female   77
258049    Male   61
258050    Male   42
258051    Male    6
258052    Male   60
258053    Male   10
258054  Female   54
258055  Female   66
258056  Female    6
258057  Female   35

[258058 rows x 2 columns]